/World Food Facts/Data
/World Food Facts/.ipynb_checkpoints
/San Francisco Crime/.ipynb_checkpoints
/input
/World Food Facts/Data/*
/World Food Facts/.ipynb_checkpoints/*
/San Francisco Crime/.ipynb_checkpoints/*
/input/*
.gitignore~
